body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
}

.bg-top-desktop {
  position: relative;
  top: -78px;
  z-index: -999;
}
.bg-top-mobile {
  display: none;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  color: hsl(300, 43%, 22%);
}

.main-container {
  position: absolute;
  top: 10px;
  left: 140px;
  width: 80%;
}
.flex-box {
  display: flex;
  flex-flow: column wrap;
}
.row-1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.col-1 p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;
  margin-top: 6px;
  color: hsl(300, 43%, 22%);
}

.col-2 p {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

.col-1 {
  flex-basis: 40%;
}
.col-2 {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-items: right;
  margin-top: 10px;
}

.starIcon-paragraph-handler {
  display: flex;
  margin-bottom: 15px;
  padding: 15px 25px;
  background-color: hsl(300, 24%, 96%);
  border-radius: 8px;
  width: 370px;
}
.margin-crop {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}
.positioning-1st-div {
  position: relative;
  left: 20px;
}
.positioning-2nd-div {
  position: relative;
  left: 69px;
}
.positioning-3rd-div {
  position: relative;
  left: 119px;
}

.row-2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}
.row-2 .col {
  width: 31.5%;
  height: 13rem;
  background-color: hsl(300, 43%, 22%);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0px 20px;
}
.img-name-holder img {
  float: left;
  width: 50px;
  border-radius: 40px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.img-name-holder h4 {
  margin-bottom: 0;
  padding: 10px;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}
.img-name-holder p {
  font-size: 0.9275rem;
  margin-top: -4px;
  color: hsl(333, 80%, 67%);
}
.buyer-comment {
  clear: left;
}

.buyer-comment {
  margin-top: 30px;
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
  font-size: 0.8125rem;
}
.col2 {
  margin-top: 20px;
}
.col3 {
  margin-top: 40px;
}

.bg-bottom-desktop {
  position: absolute;
  bottom: 0;
  top: 65px;
  right: 0;
  z-index: -999;
  position: fixed;
}

.bg-bottom-mobile {
  display: none;
}

@media screen and (max-width: 375px) {
  body {
    overflow: auto;
  }
  .main-container {
    width: 90%;
    margin: 0 auto;
    left: 20px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 2rem;
  }
  .bg-top-desktop,
  .bg-bottom-desktop {
    display: none;
  }

  .bg-top-mobile {
    display: inline-block;
    position: absolute;
    z-index: -999;
  }
  .row-1 {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 68px;
  }
  .col-1,
  .col-2 {
    width: 100%;
    text-align: center;
  }
  .col-1 p {
    margin-top: 10px;
    text-align: center;
    width: 95%;
    margin-left: 5px;
  }

  .starIcon-paragraph-handler {
    flex-direction: column;
    width: 85%;
  }
  .positioning-1st-div,
  .positioning-2nd-div,
  .positioning-3rd-div {
    left: 0px;
  }
  .margin-crop {
    margin-top: 5px;
  }

  .row-2 {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  h4 {
    margin-top: 0;
  }
  .row-2 .col {
    width: 100%;
    height: 14rem;
    padding: 20px 25px;
  }
  .col3 {
    margin-top: 20px;
    margin-bottom: 68px;
  }
  .buyer-comment {
    width: 266px;
  }

  .bg-bottom-mobile {
    display: block;
    position: absolute;
    z-index: -999;
    top: 960px;
  }
}
